Image uses: Urambi_Rock_Plot_3_circle_11_3m.tif
Actual number of stones: 713



DY models

| models | detected rocks num | Evaluation |
| --- | ---: | --- |
| model_YOLO26_size_N_augment_FALSE_best_001.pt | 97 | Poor performance |
| model_YOLO26_size_N_augment_TRUE_best_001.pt | 134 | Poor performance |
| model_YOLO26_size_S_augment_TRUE_best_001.pt | 116 | Poor performance |


Yuvraj models

| models | detected rocks num | Evaluation |
| --- | ---: | --- |
| model_YOLO26_size_N_augment_FALSE_best_001.pt | 183 | Poor performance |
